{% extends "blog_base.html" %}
{% block hualang %}
    <div id="owl-slide" class="owl-carousel">
        <div class="item">
            <img src="/static/images/slider-1.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category"><a href="#" rel="category tag">Business</a>, 
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/slider-2.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category"><a href="#" rel="category tag">Business</a>, 
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/slider-3.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category"><a href="#" rel="category tag">Business</a>, 
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/images/slider-4.jpg" />
            <div class="carousel-caption">
                <div class="carousel-caption-inner">
                    <p class="carousel-caption-title"><a href="#">Why It’s Important To Struggle</a></p>
                    <p class="carousel-caption-category"><a href="#" rel="category tag">Business</a>, 
                    <a href="#" rel="category tag">Lifestyle</a>, <a href="#" rel="category tag">Pursuits</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <section id="container">
    <div class="wrap-container">
    {% for blog in blogs %}
        <article class="post zerogrid">
            <div class="row wrap-post"><!--Start Box-->
                <div class="entry-header">
                    <span class="time">{{ blog.pub_date }}</span>
                    <h2 class="entry-title"><a href="#">{{ blog.title }}</a></h2>
                    <span class="cat-links"><a href="#">分类：{{ blog.categroy.name }}</a>, <a href="#">标签：待添加</a></span>
                    <span class="cat-links">发布者：{{ blog.author | default:'jojo'}}</span>
                </div>
                <div class="post-thumbnail-wrap">
                        <img src="/static/images/1.jpg">
                </div>
                <div class="entry-content">
                    <p>{{ blog.content }}</p>
                    <a href="{{ blog.get_absolute_url }}" >More Details</a>
                </div> 
            </div>
        </article>
    {% endfor %}  
    </div>
</section>
{% endblock %}
